@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: outfit;
  font-size: 30px;
  
}

body{
  min-height: 100vh;
  background-image: url(../public/aelenda.jpg);
  background-blend-mode: inherit;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  background-blend-mode:screen
}


a{
  text-decoration: none;
}

.app{
  width: 100%;
}

